<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" data-bs-theme="auto">

<!-- 상단 대문 비디오 있는 레이아웃 -->

<head>
    <meta charset="UTF-8">
    <title>mavi karga</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">

    <!-- Custom styles for this carousel template -->
    <link href="/static/bootstrap-5.3.2-dist/carousel/carousel.css"
        th:href="@{/bootstrap-5.3.2-dist/carousel/carousel.css}" rel="stylesheet">
    <link href="/static/css/header.css" th:href="@{/css/header.css}" rel="stylesheet">

    <style>
        @font-face {
            font-family: 'Treegarden';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Treegarden.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body {
            padding-top: 0;
            font-family: 'Treegarden', sans-serif;
        }
    </style>
</head>

<body>

    <div th:replace="~{fragments/header::header}"></div>
    <div th:replace="~{fragments/header::header-navBar}"></div>

    <div layout:fragment="content"></div>

    <div th:replace="~{fragments/footer::footer}"></div>

    <!-- js -->
    <!-- <script src="/static/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js"
        th:src="@{/bootstrap-5.3.2-dist/js/bootstrap.bundle.min.js}"></script> -->

</body>

</html>