<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>

    <!-- PortOne SDK -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>

    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.8.js"></script>

    <script>
        const name_req = "mavikarga_cart_" + crypto.randomUUID();
        const amount_req = '[[${cartProductDtoList.totalAmount}]]'
    </script>
    <script type="text/javascript" src="/static/js/imp_payment.js" th:src="@{/js/imp_payment.js}"></script>

</head>

<body layout:fragment="content">
    <main class="container">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">결재 (비회원)</h1>
        </div>

        <!-- FORM START -->
        <form id="paymentForm" class="row g-3 needs-validation" novalidate>
            <!-- 이름,이메일,휴대전화 -->
            <section class="container mb-5">
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input style="width: 30%;" type="text" class="form-control" id="name" placeholder="" required>
                    <div class="invalid-feedback">
                        이름을 입력해 주세요.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input style="width: 30%;" type="email" class="form-control" id="email"
                        placeholder="name@example.com" required>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">휴대전화</label>
                    <input style="width: 30%;" type="tel" class="form-control" id="phone" placeholder="'-' 제외하고 입력해주세요."
                        required>
                </div>
            </section>

            <!-- 주소 (다음 우편번호 API) -->
            <section class="container mb-5">
                <input style="width: 50%;" type="text" id="postcode" placeholder="우편번호" class="form-control mb-1"
                    required>
                <input
                    style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                    type="button" onclick="sample4_execDaumPostcode()" value="우편번호 찾기"
                    class="btn btn-outline-secondary btn-sm mb-1"><br>
                <input style="width: 50%;" type="text" id="roadAddress" placeholder="도로명주소" class="form-control mb-1"
                    required>
                <input style="width: 50%;" type="text" id="jibunAddress" placeholder="지번주소" class="form-control mb-1"
                    required>
                <span id="guide" style="color:#999;display:none"></span>
                <input style="width: 50%;" type="text" id="detailAddress" placeholder="상세주소" class="form-control mb-1"
                    required>
                <input style="width: 50%;" type="text" id="extraAddress" placeholder="참고항목" class="form-control mb-1">
            </section>

            <!-- 주문 상품 목록 -->
            <div class="mx-3" th:object="${cartProductDtoList}">
                <table class="mb-3 w-100">
                    <thead>
                        <tr class="row justify-content-between align-items-center thead-row">
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">PRODUCT</td>
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1"></td>
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">PRICE</td>
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">QTY</td>
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">TOTAL</td>
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1"></td>
                            <td>
                                <hr>
                            </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="row justify-content-between align-items-center tbody-row"
                            th:each="cartProductDto, rowStat : *{cartProductDtoList}">
                            <!-- 상품ID -->
                            <td>
                                <input type="number" th:field="*{cartProductDtoList[__${rowStat.index}__].cartId}"
                                    style="display: none;">
                            </td>
                            <!-- 상품 이미지 -->
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                                <div style="width: 60%;">
                                    <img class="img-fluid"
                                        src="https://mavikarga-bucket.s3.ap-northeast-2.amazonaws.com/images/thumbnail_front_default.jpg"
                                        th:src="${cartProductDto.thumbnail_url}" alt="product thumbnail img">
                                </div>
                            </td>
                            <!-- 상품 이름 -->
                            <td class="name col-md-2 col-lg-2 col-xl-2 align-items-center my-1">
                                <p class="name" th:text="${cartProductDto.name}"></p>
                            </td>
                            <!-- 개당 가격  -->
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                                <p class="price " th:text="'₩ ' + ${cartProductDto.price}"></p>
                            </td>
                            <!-- 갯수 -->
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                                <p class="count " th:text="${cartProductDto.count}"></p>
                            </td>
                            <!-- 계산된 전체 가격 -->
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                                <p class="total" th:text="'₩ ' + ${cartProductDto.price * cartProductDto.count}"></p>
                            </td>
                            <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                            </td>
                            <td>
                                <hr>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 결제하기 버튼 -->
                <button
                    style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                    id="requestPayBtn" type="submit" class="btn btn-outline-secondary btn-sm">결제하기</button>
            </div>
        </form>



        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>



    <!-- 다음 우편번호 API -->
    <!-- https://postcode.map.daum.net/guide -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        //본 예제에서는 도로명 주소 표기 방식에 대한 법령에 따라, 내려오는 데이터를 조합하여 올바른 주소를 구성하는 방법을 설명합니다.
        function sample4_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function (data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                    // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var roadAddr = data.roadAddress; // 도로명 주소 변수
                    var extraRoadAddr = ''; // 참고 항목 변수

                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                        extraRoadAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if (data.buildingName !== '' && data.apartment === 'Y') {
                        extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if (extraRoadAddr !== '') {
                        extraRoadAddr = ' (' + extraRoadAddr + ')';
                    }

                    // 우편번호와 주소 정보를 해당 필드에 넣는다.
                    document.getElementById('postcode').value = data.zonecode;
                    document.getElementById("roadAddress").value = roadAddr;
                    document.getElementById("jibunAddress").value = data.jibunAddress;

                    // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
                    if (roadAddr !== '') {
                        document.getElementById("extraAddress").value = extraRoadAddr;
                    } else {
                        document.getElementById("extraAddress").value = '';
                    }

                    var guideTextBox = document.getElementById("guide");
                    // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
                    if (data.autoRoadAddress) {
                        var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                        guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                        guideTextBox.style.display = 'block';

                    } else if (data.autoJibunAddress) {
                        var expJibunAddr = data.autoJibunAddress;
                        guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                        guideTextBox.style.display = 'block';
                    } else {
                        guideTextBox.innerHTML = '';
                        guideTextBox.style.display = 'none';
                    }
                }
            }).open();
        }
    </script>

    <!-- input 의 모든 required 필드 입력하지 않으면 submit 버튼 클릭해도 다음으로 넘어가지 않도록 함  -->
    <script>
        document.getElementById("paymentForm").addEventListener("submit", function (event) {
            // Get all required input elements in the form
            var requiredInputs = document.querySelectorAll('input[required]');

            // Flag to track whether all required fields are filled
            var allFieldsFilled = true;

            // Check each required input field
            requiredInputs.forEach(function (input) {
                if (input.value.trim() === '') {
                    allFieldsFilled = false;
                }
            });

            // If any required field is empty, prevent form submission
            if (!allFieldsFilled) {
                // alert("Please fill in all required fields.");
                event.preventDefault(); // Prevents the form from being submitted                
            }
            else {
                event.preventDefault();
                requestPay("/payments/validate/nonuser"); // 모든 required 필드 입력됐다면 결재창 띄움 
            }
        });
    </script>

    <!-- bootstrap form validation -->
    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>

    <!-- 결재 함수에 필요한 값들 body 에서 할당함 -->
    <script>
        buyer_name_req = document.getElementById('name').value;
        buyer_tel_req = document.getElementById('phone').value;
        buyer_email_req = document.getElementById('email').value;
        buyer_postcode_req = document.getElementById('postcode').value;
        buyer_addr_req = document.getElementById('roadAddress').value;
    </script>
</body>

</html>