<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/clothingLayout}">

<head>
    <title>mavi karga</title>
    <!-- product show layout -->
    <link href="/static/css/product.css" th:href="@{/css/product.css}" rel="stylesheet">

    <!-- 이미지 hover 시 앞면썸네일, 뒷면썸네일 전환해서 보여줌 -->
    <link href="/static/css/hover-thumnail-image.css" th:href="@{/css/hover-thumnail-image.css}" rel="stylesheet">  
</head>

<body layout:fragment="content">
    <main>
        <!---------- START OF 상단 6개의 대표 상품 이미지 -->
        <div class="container-fluid my-3">
            <div th:object="${clothingDtoList}" class="row product-row">
                <!-- thymeleaf th:each -->
                <div th:each="product : *{clothingDtoList}"
                    class="col-6 col-sm-6 col-md-4 col-xl-4 product-placeholder mb-3">
                    <!-- 이미지 링크 -->
                    <a href="/templates/index.html"
                        th:href="@{/order/products?productId={productId}(productId=${product.productId})}">
                        <!-- 프론트 썸네일 이미지 존재하면 랜더링 -->
                        <!-- hover -->
                        <div th:if="${product.thumbnail_front_url != null}" class="image-container">
                            <img class="original-image img-fluid" th:src="${product.thumbnail_front_url}"
                                alt="Original Image">
                            <img class="hover-image img-fluid" th:src="${product.thumbnail_back_url}" alt="Hover Image">
                        </div>
                        <!-- 존재하지 않는 예외 경우 지정된 이미지 임시로 렌더링 -->
                        <img class="img-fluid" th:unless="${product.thumbnail_front_url != null}"
                            th:src="@{/image/clothing/KakaoTalk_20240207_105747721_01.jpg}" alt="">
                    </a>
                    <!-- 상세 -->
                    <div class="container align-items-center justify-content-center">
                        <div th:text="${product.name}" class="text-center product-placeholder-exp">CAPT005</div>
                        <div th:text="${#numbers.formatCurrency(product.price)}"
                            class="text-center product-placeholder-exp"></div>
                    </div>
                </div>
                <!-- 1200px(xl) 이상 4개의 col -->
                <!-- 768px(md) 이상 3개의 col -->
                <!-- 576px(sm) 이상 2개의 col -->
                <!-- 576px(xs) 이하 2개의 col -->
            </div>
        </div>
        <!---------- END OF 상단 6개의 대표 상품 이미지 -->


        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>
</body>

</html>