<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/adminLayout}">

<head>
    <title>관리페이지</title>

    <style>
        p {
            margin-bottom: 0.5rem;
        }
    </style>
</head>

<body layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">상품 추가</h1>
        </div>

        <!-- 상품추가 -->
        <form id="productForm" action="/admins/products/add" th:object="${addProductDto}"
            th:action="@{/admins/products/add}" method="post">
            <!-- 상품명 -->
            <div class="mb-3">
                <label for="name" class="form-label">상품명</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="상품명">
            </div>
            <!-- 가격 -->
            <div class="mb-3">
                <label for="price" class="form-label">가격</label>
                <input th:field="*{price}" type="number" class="form-control" id="price" name="price" placeholder="가격">
            </div>
            <!-- 상품 상세 -->
            <div class="mb-3">
                <label for="description" class="form-label">상품 상세</label>
                <textarea th:field="*{description}" class="form-control" id="description" name="description"
                    rows="3"></textarea>
            </div>
            <!-- 사이즈 -->
            <div class="mb-3">
                <p>사이즈</p>
                <div class="form-check form-check-inline">
                    <input th:field="*{sizes}" class="form-check-input" type="checkbox" id="inlineCheckboxXS"
                        name="sizes" value="XS">
                    <label class="form-check-label" for="inlineCheckboxXS">XS</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:field="*{sizes}" class="form-check-input" type="checkbox" id="inlineCheckboxS"
                        name="sizes" value="S">
                    <label class="form-check-label" for="inlineCheckboxS">S</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:field="*{sizes}" class="form-check-input" type="checkbox" id="inlineCheckboxM"
                        name="sizes" value="M">
                    <label class="form-check-label" for="inlineCheckboxM">M</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:field="*{sizes}" class="form-check-input" type="checkbox" id="inlineCheckboxL"
                        name="sizes" value="L">
                    <label class="form-check-label" for="inlineCheckboxL">L</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:field="*{sizes}" class="form-check-input" type="checkbox" id="inlineCheckboxXL"
                        name="sizes" value="XL">
                    <label class="form-check-label" for="inlineCheckboxXL">XL</label>
                </div>
                <div class="form-check form-check-inline">
                    <input th:field="*{sizes}" class="form-check-input" type="checkbox" id="inlineCheckboxXXL"
                        name="sizes" value="XXL">
                    <label class="form-check-label" for="inlineCheckboxXXL">XXL</label>
                </div>
            </div>
            <!-- 카테고리 -->
            <div class="mb-3">
                <label for="clothingCategory" class="form-label">카테고리</label>
                <select class="form-select" aria-label="clothingCategory select" id="clothingCategory"
                    th:field="*{clothingCategory}">
                    <option th:each="category : ${addProductDto.clothingCategories}" th:value="${category}"
                        th:text="${category}">카테고리</option>
                </select>
            </div>
            <!-- 색상 -->
            <div class="mb-3">
                <p>색상</p>
                <div th:each="color : ${addProductDto.productColors}">
                    <input class="form-check-input" th:field="*{productColor}" type="checkbox" th:id="${'color-' + color}" th:value="${color}" />
                    <label th:for="${'color-' + color}" th:text="${color}"></label><br />
                </div>                
            </div>
            <!-- DETAILS & CARE -->
            <div class="mb-3">
                <label for="detailsAndCare" class="form-label">DETAILS & CARE</label>
                <textarea th:field="*{detailsAndCare}" class="form-control" id="detailsAndCare" name="detailsAndCare"
                    rows="3"></textarea>
            </div>
            <!-- 상품 이미지 -->
            <div class="mb-3">
                <p>상품 이미지</p>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="multipartFiles" id="fileInput" multiple
                        onchange="saveSelectedImagesToList()">
                </form>
                <!-- 선택한 이미지 랜더링 컨테이너 -->
                <div id="imageContainer"></div>
            </div>

            <!-- submit 버튼 -->
            <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
        </form>

    </main>


    <script>
        // submit 버튼 이벤트
        document.getElementById('submitBtn').addEventListener('click', function (event) {
            // 버튼 form submit 이벤트 방지 
            event.preventDefault();
            // form ajax 전송 -> 이미지 ajax 전송 
            submitForm();
        })
    </script>

    <script src="/static/js/AdminproductFormHandler.js" th:src="@{/js/AdminproductFormHandler.js}"></script>

</body>

</html>