<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/adminLayout}">

<head>
    <title>관리페이지</title>

    <style>
        p {
            margin-bottom: 0.5rem;
        }

        /* ajax 로딩 스피너 */
        #spinner-div {
            position: fixed;
            display: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            text-align: center;
            background-color: rgba(255, 255, 255, 0.8);
            z-index: 2;
        }
    </style>
</head>

<body layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">상품 추가</h1>
        </div>

        <!-- 상품추가 -->
        <form id="productForm" action="/admins/products/add" th:object="${addProductDto}"
            th:action="@{/admins/products/add}" method="post">
            <!-- 상품명 -->
            <div class="mb-3">
                <label for="name" class="form-label">상품명</label>
                <input th:field="*{name}" type="text" class="form-control" id="name" name="name" placeholder="상품명">
            </div>
            <!-- 가격 KOR -->
            <div class="mb-3">
                <label for="price" class="form-label">가격 KOR (₩)</label>
                <input th:field="*{price}" type="number" class="form-control" id="price" name="price" placeholder="₩">
            </div>
            <!-- 가격 USD -->
            <div class="mb-3">
                <label for="price_USD" class="form-label">가격 USD ($)</label>
                <input th:field="*{price_USD}" type="number" class="form-control" id="price_USD" name="price_USD"
                    placeholder="$">
            </div>
            <!-- 상품 상세 -->
            <div class="mb-3">
                <label for="description" class="form-label">상품 상세</label>
                <textarea th:field="*{description}" class="form-control" id="description" name="description"
                    rows="3"></textarea>
            </div>
            <!-- 사이즈 -->
            <div class="mb-3 size-checkboxes">
                <p>사이즈</p>
                <div th:each="s : ${addProductDto.sizes}">
                    <input class="form-check-input" th:field="*{size}" type="checkbox"
                        th:id="${'size-' + s}" th:value="${s}" onchange="handleSizeCheckboxChange(this)" />
                    <label th:for="${'size-' + s}" th:text="${s}"></label><br />
                </div>
            </div>
            <!-- 카테고리 -->
            <div class="mb-3">
                <label for="clothingCategory" class="form-label">카테고리</label>
                <select class="form-select" aria-label="clothingCategory select" id="clothingCategory"
                    th:field="*{clothingCategory}">
                    <option th:each="category : ${addProductDto.clothingCategories}" th:value="${category}"
                        th:text="${category}">카테고리</option>
                </select>
            </div>
            <!-- 색상 -->
            <div class="mb-3 color-checkboxes">
                <p>색상</p>
                <div th:each="color : ${addProductDto.productColors}">
                    <input class="form-check-input" th:field="*{productColor}" type="checkbox"
                        th:id="${'color-' + color}" th:value="${color}" onchange="handleClolorCheckboxChange(this)" />
                    <label th:for="${'color-' + color}" th:text="${color}"></label><br />
                </div>
            </div>
            <!-- DETAILS & CARE -->
            <div class="mb-3">
                <label for="detailsAndCare" class="form-label">DETAILS & CARE</label>
                <textarea th:field="*{detailsAndCare}" class="form-control" id="detailsAndCare" name="detailsAndCare"
                    rows="3"></textarea>
            </div>
            <!-- 상품 이미지 -->
            <div class="mb-3">
                <p>상품 이미지들</p>
                <ul>
                    <li>여러개의 이미지를 선택할수 있습니다</li>
                    <li>선택된 이미지를 클릭하면 목록에서 제거할수 있습니다</li>
                    <li>선택한 이미지들 중 첫번째 이미지가 앞면 썸네일</li>
                    <li>선택한 이미지들 중 두번째 이미지가 뒷면 썸네일이 됩니다</li>
                </ul>
                <form id="uploadForm" enctype="multipart/form-data">
                    <input type="file" name="multipartFiles" id="fileInput" multiple
                        onchange="saveSelectedImagesToList()">
                </form>
                <!-- 선택한 이미지 랜더링 컨테이너 -->
                <div id="imageContainer"></div>
            </div>

            <!-- submit 버튼 -->
            <button id="submitBtn" type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- ajax 요청 로딩 중 보여줄 스피너 -->
        <div id="spinner-div" class="pt-5">
            <div class="spinner-border text-primary mt-5" role="status">
            </div>
        </div>
    </main>



    <script>
        // submit 버튼 이벤트
        document.getElementById('submitBtn').addEventListener('click', function (event) {
            // 버튼 form submit 이벤트 방지 
            event.preventDefault();
            // form ajax 전송 -> 이미지 ajax 전송 
            submitForm();
        })
    </script>

    <script src="/static/js/handleCheckboxChanges.js" th:src="@{/js/handleCheckboxChanges.js}"></script>
    <script src="/static/js/AdminproductFormHandler.js" th:src="@{/js/AdminproductFormHandler.js}"></script>

</body>

</html>