<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <!-- FOOTER -->
    <footer class="container">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>&copy; 2023–2024 Mavi-karga. &middot; <a sec:authorize="isAuthenticated()" th:href="@{/order/cart}">Cart</a>
            &middot; <a sec:authorize="isAuthenticated()" th:href="@{/users/myPage}">MyPage</a> &middot; <a href="http://www.ftc.go.kr/bizCommPop.do?wrkr_no=6021833170">[사업자정보확인]</a></p>
    </footer>
</div>

</html>