<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
</head>

<!-- 대문 -->
<div th:fragment="header">
    <!-- 비디오 -->
    <div class="container-fluid px-0 video-container">
        <button id="main_video_btn" onclick="toggleMute()">
            <video id="main_video" src="/static/vid/shell_lug_reduced.mp4" th:src="@{/vid/shell_lug_reduced.mp4}" type="video/mp4"
                class="w-100" autoplay loop muted>
            </video>
        </button>
    </div>
</div>

<!-- navbar -->
<!-- <nav th:fragment="header-navBar" class="navbar navbar-expand-lg bg-body-tertiary sticky-top"
    style="padding-top: 0; padding-bottom: 0;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div style="font-size: 1.2em" class="navbar-nav">
                <span style="width: 150px;"><a class="nav-link mx-4" href="/templates/index.html" th:href="@{/}"><img
                            class="img-fluid" src="/static/image/logo.png" th:src="@{/image/logo.png}"
                            alt=""></a></span>
                <a class="nav-link mx-4" th:classappend="${menu} == 'info' ? 'fw-bold active'"
                    href="/templates/info.html" th:href="@{/info}">Info</a>
                <a class="nav-link mx-4" th:classappend="${menu} == 'clothing' ? 'fw-bold active'"
                    href="/templates/clothing.html" th:href="@{/clothing}">Clothing</a>
                <a class="nav-link mx-4" href="#">Film</a>
                <a class="nav-link mx-4" href="#">Object</a>
                <a sec:authorize="isAuthenticated()" class="nav-link mx-4"
                    th:classappend="${menu} == 'login' ? 'fw-bold active'" href="/templates/index.html"
                    th:href="@{/logout}">LogOut</a>
                <a sec:authorize="isAnonymous()" class="nav-link mx-4"
                    th:classappend="${menu} == 'login' ? 'fw-bold active'" href="/templates/login.html"
                    th:href="@{/login}">Login</a>
            </div>
        </div>
    </div>
</nav> -->

<!-- navbar -->
<nav th:fragment="header-navBar" class="navbar sticky-top navbar-expand-lg bg-body-tertiary py-1">
    <div class="container-fluid">
        <!-- 로고 -->
        <a style="width: 150px;" class="nav-link mx-4" href="/templates/index.html" th:href="@{/}"><img
                class="img-fluid" src="/static/image/logo.png" th:src="@{/image/logo.png}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 매뉴탭 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul style="font-size: 1.2em" class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- th:classappend 로 현재 페이지에 따라 active,fw-bold 클래스 추가 -->
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'info' ? 'fw-bold active'"
                        href="/templates/info.html" th:href="@{/info}">Info</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'clothing' ? 'fw-bold active'"
                        href="/templates/clothing.html" th:href="@{/clothing}">Clothing</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'film' ? 'fw-bold active'"
                        href="/templates/film.html" th:href="@{/clothing}">Film</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link">Object</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'login' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/logout}">LogOut</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item" style="margin-left: 3.5rem!important;">
                    <a class="nav-link" th:classappend="${menu} == 'login' ? 'fw-bold active'"
                        href="/templates/login.html" th:href="@{/login}">Login</a>
                </li>
                <!-- <li class="nav-item mx-4">
                    <a class="nav-link mx-4" th:href="@{/locale}">USD/KOR</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>


<!-- navbar-clothing -->
<nav th:fragment="header-navBar-clothing" class="navbar sticky-top navbar-expand-lg bg-body-tertiary py-1">
    <div class="container-fluid">
        <!-- 로고 -->
        <a style="width: 150px;" class="nav-link mx-4" href="/templates/index.html" th:href="@{/}"><img
                class="img-fluid" src="/static/image/logo.png" th:src="@{/image/logo.png}" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- 매뉴탭 -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul style="font-size: 1.2em" class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- th:classappend 로 현재 페이지에 따라 active,fw-bold 클래스 추가 -->
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'all' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/clothing/all}">All</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'one' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/clothing/one}">01</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'two' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/clothing/two}">02</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'dye' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/}">Dye</a>
                </li>
                <li class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'dye' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/}">ACC</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item mx-4">
                    <a class="nav-link" th:classappend="${menu} == 'login' ? 'fw-bold active'"
                        href="/templates/index.html" th:href="@{/logout}">LogOut</a>
                </li>
                <li sec:authorize="isAnonymous()" class="nav-item" style="margin-left: 3.5rem!important;">
                    <a class="nav-link" th:classappend="${menu} == 'login' ? 'fw-bold active'"
                        href="/templates/login.html" th:href="@{/login}">Login</a>
                </li>
                <!-- <li class="nav-item mx-4">
                    <a class="nav-link mx-4" th:href="@{/locale}">USD/KOR</a>
                </li> -->
            </ul>
        </div>
    </div>
</nav>



</html>