<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>

</head>

<body layout:fragment="content">

    <main>
        <div class="container my-3">
            <h1>My Page</h1>
        </div>

        <div class="container mb-5">
            <!-- 테이블 -->
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Order date</th>
                        <th scope="col">Price (quantity)</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody th:object="${myPageDtoList}">
                    <tr th:each="myPageDto : *{myPageDtoList}">
                        <td>
                            <p th:text="${myPageDto.name}"></p>
                        </td>
                        <td>
                            <p th:text="${myPageDto.orderDate}"></p>
                        </td>
                        <td>
                            <p th:text="${myPageDto.orderPrice + ' (' + myPageDto.count + ')'}"></p>
                        </td>
                        <td>
                            <p th:text="${myPageDto.orderStatus}"></p>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


        <!-- pagination -->
        <nav aria-label="..." class="d-flex justify-content-center mt-5">
            <ul class="pagination">
                <li id="pagination-prev" class="page-item">
                    <a id="pagination-prev-a" class="page-link">Previous</a>
                </li>
                <li id="pagination-li-1" class="page-item">
                    <a id="pagination-a-1" class="page-link" href="?page=0">1</a>
                </li>
                <li id="pagination-li-2" class="page-item">
                    <a id="pagination-a-2" class="page-link" href="?page=1">2</a>
                </li>
                <li id="pagination-li-3" class="page-item">
                    <a id="pagination-a-3" class="page-link" href="?page=2">3</a>
                </li>
                <li id="pagination-next" class="page-item">
                    <a id="pagination-next-a" class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>

        <!-- 회원탈퇴 -->
        <div class="container mt-5 mb-5">
            <form th:action="@{/users/delete}" method="post">
                <button type="submit" class="btn btn-danger" onclick="return confirmDelete()">회원탈퇴</button>
            </form>
        </div>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>


    <!-- Pagination javascript -->
    <script>
        // 현재 페이지 
        let pageNum = Number("[[${page}]]")
        // 전체 페이지 
        let totalpages = Number("[[${myPageDtoList.totalPages}]]")

        const pagination_li_1 = document.getElementById('pagination-li-1');
        const pagination_li_2 = document.getElementById('pagination-li-2');
        const pagination_li_3 = document.getElementById('pagination-li-3');
        const pagination_a_1 = document.getElementById('pagination-a-1')
        const pagination_a_2 = document.getElementById('pagination-a-2')
        const pagination_a_3 = document.getElementById('pagination-a-3')
        const pagination_prev = document.getElementById('pagination-prev');
        const pagination_next = document.getElementById('pagination-next')
        const pagination_prev_a = document.getElementById('pagination-prev-a')
        const pagination_next_a = document.getElementById('pagination-next-a')
        const liList = [null, pagination_li_1, pagination_li_2, pagination_li_3]
        const aList = [null, pagination_a_1, pagination_a_2, pagination_a_3]

        // console.log('pageNum, totalPages = ' + pageNum, totalpages);

        // prev, next 버튼 href 설정 
        pagination_prev_a.href = '?page=' + (Math.max(pageNum - 4, 0)).toString();
        pagination_next_a.href = '?page=' + (Math.min(pageNum + 2, totalpages - 1)).toString();

        // totalPages 3개 이하일 경우 그만큼만 랜더링 
        if (totalpages <= 3) {
            // 1~totalPages 숫자 할당 
            for (let i = 1; i <= totalpages; i++) {
                aList[i].text = (i).toString();
                aList[i].href = '?page=' + (i - 1).toString();
            }
            // 이외에는 안보이도록 display:none 처리 
            for (let i = totalpages + 1; i <= 3; i++) {
                liList[i].style.display = 'none';
            }
            // 현재 페이지 표시 
            liList[pageNum].classList.add('active')
            pagination_prev.classList.add('disabled')
            pagination_next.classList.add('disabled')
        }
        // totalPages 4개 이상일 경우 
        else {

            if (pageNum < 2) {
                pagination_a_1.text = '1';
                pagination_a_2.text = '2';
                pagination_a_3.text = '3';

                pagination_a_1.href = '?page=0';
                pagination_a_2.href = '?page=1';
                pagination_a_3.href = '?page=2';

                pagination_li_1.classList.add('active') // 현재 페이지 표시
                pagination_prev.classList.add('disabled') // 이전 버튼 disabled
            }
            else if (pageNum === totalpages) {
                pagination_a_1.text = (pageNum - 2).toString();
                pagination_a_2.text = (pageNum - 1).toString();
                pagination_a_3.text = (pageNum).toString();

                pagination_a_1.href = '?page=' + (pageNum - 2 - 1).toString();
                pagination_a_2.href = '?page=' + (pageNum - 1 - 1).toString();
                pagination_a_3.href = '?page=' + (pageNum - 1).toString();

                pagination_li_3.classList.add('active')
                pagination_next.classList.add('disabled')
            }
            else {
                pagination_a_1.text = (pageNum - 1).toString();
                pagination_a_2.text = (pageNum).toString();
                pagination_a_3.text = (pageNum + 1).toString();

                pagination_a_1.href = '?page=' + (pageNum - 1 - 1).toString();
                pagination_a_2.href = '?page=' + (pageNum - 1).toString();
                pagination_a_3.href = '?page=' + (pageNum + 1 - 1).toString();

                pagination_li_2.classList.add('active')
            }
        }
    </script>

    <script>
        function confirmDelete() {
            return confirm('Are you sure you want to delete your account?');
        }
    </script>
</body>

</html>