<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>


</head>

<body layout:fragment="content">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Your Cart</h1>
        </div>


        <form th:action="@{/order/cart/nonuser}" th:object="${cartProductDtoList}" method="post">
            <table>
                <tr th:each="cartProductDto, rowStat : *{cartProductDtoList}">
                    <!-- 상품ID -->
                    <td>
                        <input class="hidden_cart_id" type="number"
                            th:field="*{cartProductDtoList[__${rowStat.index}__].cartId}" style="display: none;">
                    </td>
                    <!-- 상품 이름 -->
                    <td class="name" th:text="${cartProductDto.name}"></td>
                    <!-- 개당 가격 (안보이도록 처리) -->
                    <td style="display: none;" class="price" th:text="${cartProductDto.price}"></td>
                    <!-- 갯수 수정 input -->
                    <td>
                        <input class="count" th:field="*{cartProductDtoList[__${rowStat.index}__].count}" type="number"
                            min="1" oninput="validCount(this)" />
                    </td>
                    <!-- 계산된 전체 가격 -->
                    <td class="totalPrice"></td>
                    <!-- 상품 제외 버튼 -->
                    <td>
                        <button class="excludeBtn" type="button"
                            th:value="*{cartProductDtoList[__${rowStat.index}__].cartId}">제외</button>
                        <!-- 상품 제거 버튼 누르면 deleted=true 로 만듦 -->
                        <!-- <input class="deleted" th:field="*{cartProductDtoList[__${rowStat.index}__].deleted}"
                            style="display: none;" type="checkbox"> -->
                    </td>
                </tr>
            </table>
            <button id="submitBtn" type="submit">구매</button>
        </form>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>


    <script>
        // 제외 버튼 누르면 해당 상품 제거하도록 ajax 요청 보냄 
        document.addEventListener('DOMContentLoaded', function () {
            // 제외 버튼들 
            const excludeButtons = document.querySelectorAll('.excludeBtn');

            excludeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    // .hidden_cart_id 에 담겨있는 cartId 값 
                    const cartIdInput = button.closest('tr').querySelector('.hidden_cart_id');
                    const cartId = cartIdInput.value;
                    // ajax 요청 
                    removeProduct('/order/cart/nonuser/remove', cartId);
                });
            });
        });
        // 상품 장바구니에서 제외 요청 ajax 함수 
        function removeProduct(req_path, cartId) {
            // AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', req_path + '?cartId=' + cartId, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert('Your item has been successfully removed from the cart!')
                        console.log('success remove product from cart')
                    } else {
                        console.log('There was an error. please try again.')
                    }
                }
            };
            xhr.send();
        }

        // 갯수 0으로 못하도록
        function validCount(input) {
            if (input.value < 1) {
                input.value = 1;
            }
        }
    </script>

    <!-- 사용자가 상품 갯수 변경할때마다 최종 가격 업데이트해서 보여줌 -->
    <script src="/static/js/changeCountCart.js" th:src="@{/js/changeCountCart.js}"></script>
</body>

</html>