<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>

    <style>
        p {
            margin-bottom: 0;
        }

        /* 제외 버튼 <button> 기본 디자인 제거 */
        .excludeBtn {
            border: none;
            background-color: transparent;
        }

        /* 작은 화면에서 thead 안보이도록 처리 */
        @media (max-width: 768px) {
            .thead-row {
                display: none;
            }
        }
    </style>
</head>

<body layout:fragment="content">
    <main class="container">
        <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Your Cart</h1>
        </div>


        <form th:action="@{/order/cart}" th:object="${cartProductDtoList}" method="post">
            <table class="mb-3 w-100">
                <thead>
                    <tr class="row justify-content-between align-items-center thead-row">
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">PRODUCT</td>
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1"></td>
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">PRICE</td>
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">QTY</td>
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">TOTAL</td>
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1"></td>
                        <td>
                            <hr>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr class="row justify-content-between align-items-center tbody-row"
                        th:each="cartProductDto, rowStat : *{cartProductDtoList}">
                        <td style="display: none;">
                            <!-- 장바구니ID -->
                            <input class="hidden_cart_id" type="number"
                                th:field="*{cartProductDtoList[__${rowStat.index}__].cartId}" style="display: none;">
                        </td>
                        <!-- 상품 이미지 -->
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                            <div style="width: 60%;">
                                <a
                                    th:href="@{/order/products?productId={productId}(productId=${cartProductDto.productId})}">
                                    <img class="img-fluid"
                                        src="https://mavikarga-bucket.s3.ap-northeast-2.amazonaws.com/images/thumbnail_front_default.jpg"
                                        th:src="${cartProductDto.thumbnail_url}" alt="product thumbnail img">
                                </a>
                            </div>
                        </td>
                        <!-- 상품 이름 -->
                        <td class="name col-md-2 col-lg-2 col-xl-2 align-items-center my-1">
                            <p class="name" th:text="${cartProductDto.name}"></p>
                        </td>
                        <!-- 개당 가격  -->
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                            <p th:text="${#numbers.formatCurrency(cartProductDto.price)}"></p>
                            <p style="display: none;" class="price" th:text="${cartProductDto.price}"></p>
                        </td>
                        <!-- 갯수 수정 input -->
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                            <input class="count" th:field="*{cartProductDtoList[__${rowStat.index}__].count}"
                                type="number" min="1" oninput="validCount(this)" style="width: 50px; height: 38px;" />
                        </td>
                        <!-- 계산된 전체 가격 -->
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                            <p class="totalPrice"></p>
                        </td>
                        <!-- 상품 제외 버튼 -->
                        <td class="col-md-2 col-lg-2 col-xl-2 my-1">
                            <button class="excludeBtn" type="button">[x]</button>
                        </td>
                        <td>
                            <hr>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button
                style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                id="submitBtn" type="submit" class="btn btn-outline-secondary btn-sm">PROCEED TO CHECKOUT</button>
        </form>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>


    <script>
        // 제외 버튼 누르면 해당 상품 제거하도록 ajax 요청 보냄 
        document.addEventListener('DOMContentLoaded', function () {
            // 제외 버튼들 
            const excludeButtons = document.querySelectorAll('.excludeBtn');

            excludeButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    // .hidden_cart_id 에 담겨있는 cartId 값 
                    const cartIdInput = button.closest('tr').querySelector('.hidden_cart_id');
                    const cartId = cartIdInput.value;
                    // ajax 요청 
                    removeProduct('/order/cart/remove', cartId);
                });
            });
        });

        // 상품 장바구니에서 제외 요청 ajax 함수 
        function removeProduct(req_path, cartId) {
            // AJAX
            var xhr = new XMLHttpRequest();
            xhr.open('POST', req_path + '?cartId=' + cartId, true);

            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert('Your item has been successfully removed from the cart!')
                        console.log('success remove product from cart')
                        window.location.href = '/order/cart'
                    } else {
                        console.log('There was an error. please try again.')
                    }
                }
            };
            xhr.send();
        }

        // 갯수 0으로 못하도록
        function validCount(input) {
            if (input.value < 1) {
                input.value = 1;
            }
        }
    </script>

    <!-- 사용자가 상품 갯수 변경할때마다 최종 가격 업데이트해서 보여줌 -->
    <script src="/static/js/changeCountCart.js" th:src="@{/js/changeCountCart.js}"></script>

</body>

</html>