<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<head>
    <title>Mavi-karga</title>

    <link href="/static/css/product.css" th:href="@{/css/product.css}" rel="stylesheet">
</head>

<body layout:fragment="content">
    <main>
        <div class="container-fluid">
            <div class="row product-row">
                <!-- 1200px(xl) 이상 4개의 col -->
                <!-- 768px(md) 이상 3개의 col -->
                <!-- 576px(sm) 이상 2개의 col -->
                <!-- 576px(xs) 이하 2개의 col -->
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 product-placeholder">
                    <img class="product-placeholoder-img" th:src="@{/img/shop-details/product-big-3.png}"
                        src="/static/img/shop-details/product-big-3.png" alt="">
                    <div class="product-placeholder-exp">CAPT005</div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 product-placeholder">
                    <img class="product-placeholoder-img" th:src="@{/img/shop-details/product-big-3.png}"
                        src="/static/img/shop-details/product-big-3.png" alt="">
                    <div class="product-placeholder-exp">CAPT005</div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 product-placeholder">
                    <img class="product-placeholoder-img" th:src="@{/img/shop-details/product-big-3.png}"
                        src="/static/img/shop-details/product-big-3.png" alt="">
                    <div class="product-placeholder-exp">CAPT005</div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 product-placeholder">
                    <img class="product-placeholoder-img" th:src="@{/img/shop-details/product-big-3.png}"
                        src="/static/img/shop-details/product-big-3.png" alt="">
                    <div class="product-placeholder-exp">CAPT005</div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 product-placeholder">
                    <img class="product-placeholoder-img" th:src="@{/img/shop-details/product-big-3.png}"
                        src="/static/img/shop-details/product-big-3.png" alt="">
                    <div class="product-placeholder-exp">CAPT005</div>
                </div>
                <div class="col-6 col-sm-6 col-md-4 col-xl-3 product-placeholder">
                    <img class="product-placeholoder-img" th:src="@{/img/shop-details/product-big-3.png}"
                        src="/static/img/shop-details/product-big-3.png" alt="">
                    <div class="product-placeholder-exp">CAPT005</div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>