<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/film-layout}">

<head>
    <title>mavi karga</title>

</head>

<body layout:fragment="content">
    <main>
        <!-- Introducing mavi karga -->
        <div class="container  mt-5">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-xl-5 d-flex align-items-center justify-content-center">
                    <div style="width: 450px;">
                        <img class="w-100" th:src="@{/image/film.jpg}" src="/static/image/film.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7 py-5" style="padding-left: 4rem;">
                    <div>
                        <div class="pb-3">
                            <h4 style="white-space: nowrap;"><u>Introducing mavi karga</u></h4>
                        </div>
                        <div class="d-flex flex-column">
                            <a style="width: 130px; border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                class="btn btn-outline-secondary btn-sm" href="/templates/makingStory/introducing.html"
                                th:href="@{/makingStory/introducing}">Making Story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- The black hole -->
        <div class="container  mt-5">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-xl-5 d-flex align-items-center justify-content-center">
                    <div style="width: 450px;">
                        <img class="w-100" th:src="@{/image/blackhole/thumbnail.JPG}" src="/static/image/blackhole/thumbnail.JPG" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7 py-5" style="padding-left: 4rem;">
                    <div>
                        <div class="pb-3">
                            <h4 style="white-space: nowrap;"><u>The black hole</u></h4>
                        </div>
                        <div class="d-flex flex-column">
                            <a style="width: 130px; border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                class="btn btn-outline-secondary btn-sm" href="/templates/makingStory/blackhole.html"
                                th:href="@{/makingStory/blackhole}">Making Story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Germination, Ignite rug film -->
        <div class="container  mt-5">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-xl-5 d-flex align-items-center justify-content-center">
                    <div style="width: 450px;">
                        <img class="w-100" th:src="@{/image/rug/thumbnail.JPG}" src="/static/image/rug/thumbnail.JPG" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7 py-5" style="padding-left: 4rem;">
                    <div>
                        <div class="pb-3">
                            <h4 style="white-space: nowrap;"><u>Germination, Ignite rug film</u></h4>
                        </div>
                        <div class="d-flex flex-column">
                            <a style="width: 130px; border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                class="btn btn-outline-secondary btn-sm" href="/templates/makingStory/rug.html"
                                th:href="@{/makingStory/rug}">Making Story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>