<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default}">

<head>
    <title>mavi karga</title>

    <link rel="stylesheet" href="/static/css/main_video.css" th:href="@{/css/main_video.css}">

    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}"> -->

    <style>
        .navbar {
            margin-bottom: 0;
        }
    </style>
</head>

<body layout:fragment="content">
    <main>
        <div style="padding: 0;" class="container-fluid">
            <img class="img-fluid" src="/static/image/headerImg.jpeg" th:src="@{/image/headerImg.jpeg}" alt="">
        </div>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>

    <script>
        // 비디오 클릭으로 음소거 or 소리켜기 
        function toggleMute() {
            var video = document.getElementById("main_video");
            var button = document.getElementById("main_video_btn");
            video.volume = 0.5;
            if (video.muted) {
                video.muted = false;
                button.classList.remove("muted");
            } else {
                video.muted = true;
                button.classList.add("muted");
            }
            button.offsetWidth;
        }
    </script>
</body>

</html>