<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/info-layout}">

<head>
    <title>mavi karga</title>

    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/main_video.css" th:href="@{/css/main_video.css}">
</head>

<body layout:fragment="content">
    <main>
        <div class="container">
            <div class="row">
                <!-- left -->
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <div class="mb-3">
                        <img class="img-fluid" th:src="@{/image/mavi-karga-logo.jpg}"
                            src="/static/image/mavi-karga-logo.jpg" alt="">
                    </div>
                    <div class="">
                        <h6 class="text-center">Mavi karga Logo mobile work</h6>
                        <p class="text-center"><small>※ Watch out! You can fall asleep</small></p>
                    </div>
                </div>
                <!-- middle -->
                <div class="col-md-4 col-lg-4 col-xl-4 px-5">
                    <div class="d-flex flex-column" style="height: 100%">
                        <div class="mb-3">
                            <h4><b>mavi karga</b></h4>
                            <p>Gothic, Poetic, Strong <br>
                                With Natural color
                            </p>
                            <p>is a brand that design Fashion,Film,Photo,Object,,etc. <br>
                                We present fresh and artistic <br> works to the public. <br>
                                We hope you enjoy it with us.
                            </p>
                        </div>
                        <div class="mt-auto">
                            <h4><b>Contact/Social</b></h4>
                            <p><i class="fa-regular fa-paper-plane"></i> gom@mavikarga.com</p>
                            <p><i class="fa-solid fa-at"></i> mavikarga</p>
                        </div>
                        <div style="height: 100px;"></div>
                    </div>
                </div>
                <!-- right -->
                <div class="col-md-4 col-lg-4 col-xl-4">
                    <h4><b>Stocklist</b></h4>
                    <div>
                        <p>uploading..</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>
    
    <script src="/static/js/main_video.js" th:src="@{/js/main_video.js}"></script>

</body>

</html>