<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
    <style>
        @font-face {
            font-family: 'Treegarden';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/naverfont_10@1.0/Treegarden.woff') format('woff');
            font-weight: normal;
            font-style: normal;
        }

        body {
            padding-top: 0;
            font-family: 'Treegarden', sans-serif;
        }

        .oauth2-login-img {
            width: 250px;
            height: 50px;
        }
    </style>

</head>

<body layout:fragment="content">
    <main>
        <div style="width: 400px;" class="container d-flex flex-column border border-2 rounded border-secondary-subtle py-3 my-5">
            <div class="mx-auto mt-3 mb-3">
                <h4>Login</h4>
            </div>
            <div class="oauth2-login-img mb-1 mx-auto">
                <!-- google oauth2 login -->
                <a href="" th:href="@{/oauth2/authorization/google}"><img class="w-100 h-100"
                        src="/static/image/login/web_neutral_sq_ctn@2x_378x80.png"
                        th:src="@{/image/login/web_neutral_sq_ctn@2x_378x80.png}" alt=""></a>
            </div>
            <div class="oauth2-login-img mb-1 mx-auto">
                <!-- naver oauth2 login -->
                <a href="" th:href="@{/oauth2/authorization/naver}"><img class="w-100 h-100"
                        src="/static/image/login/btnG_official_378x80.png" th:src="@{/image/login/btnG_official_378x80.png}" alt=""></a>
            </div>
            <div class="oauth2-login-img mb-1 mx-auto">
                <!-- kakao oauth2 login -->
                <a href="" th:href="@{/oauth2/authorization/kakao}"><img class="w-100 h-100"
                        src="/static/image/login/kakao_login_large_wide_378x80.png"
                        th:src="@{/image/login/kakao_login_large_wide_378x80.png}" alt=""></a>
            </div>
        </div>


        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>
</body>

</html>