<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>

</head>

<body layout:fragment="content">

    <main>
        <div class="container my-3">
            <h1>My Page</h1>
        </div>

        <div class="container mb-3">
            <label for="lookUpNumber" class="form-label">lookUp Number</label>
            <input type="number" class="form-control" id="lookUpNumber" placeholder="enter number">
        </div>
        <div class="container mb-3">
            <button onclick="lookUpOrder()">Look Up Order</button>
        </div>

        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Order date</th>
                        <th scope="col">Price (quantity)</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <!-- <tbody th:object="${myPageDtoList}">
                    <tr th:each="myPageDto : *{myPageDtoList}">
                        <td>
                            <p th:text="${myPageDto.name}"></p>
                        </td>
                        <td>
                            <p th:text="${myPageDto.orderDate}"></p>
                        </td>
                        <td>
                            <p th:text="${myPageDto.orderPrice + ' (' + myPageDto.count + ')'}"></p>
                        </td>
                        <td>
                            <p th:text="${myPageDto.orderStatus}"></p>
                        </td>
                    </tr>
                </tbody> -->
            </table>
        </div>


        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>

    <script>

        function lookUpOrder() {            
            var lookUpNumber = document.getElementById('lookUpNumber').value;
            console.log('lookUpNumber = ' + lookUpNumber);
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/order/lookup' + '?orderLookUpNumber=' + lookUpNumber, true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        var data = JSON.parse(xhr.responseText);
                        console.log(data);
                    } else {
                        console.error(xhr.responseText);
                    }
                }
            };
            xhr.send();
        }


    </script>
</body>

</html>