<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/object-layout}">

<head>
    <title>mavi karga</title>
</head>

<body layout:fragment="content">
    <main>
        <!-- 01 -->
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-5 col-xl-5 d-flex align-items-center justify-content-center">
                    <div style="width: 450px;">
                        <img class="w-100" th:src="@{/image/film-first.jpg}"
                            src="/static/image/film-first.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-lg-7 col-xl-7 py-5" style="padding-left: 7rem; padding-right: 7rem;">
                    <div>
                        <div class="my-5">
                            <h4 style="white-space: nowrap;" class="text-center"><u>mobile</u></h4>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat voluptates suscipit,
                            facilis, quisquam inventore quasi facere eius molestiae nam natus rem fugiat tempora aut
                            odit reiciendis mollitia iusto? Earum, iure!</p>
                        <div style="width: 15px;">
                            <hr class="border border-2 opacity-75">
                        </div>
                        <div class="d-flex flex-column">
                            <button
                                style="width: 130px; border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                class="btn btn-outline-secondary btn-sm mb-1">Making Story</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>
    </main>
</body>

</html>