<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>

    <!-- 커스텀 스크롤 디자인 -->
    <link rel="stylesheet" href="/static/css/scroll_box.css" th:href="@{/css/scroll_box.css}">
    <style>
        /* modal-header가 modal-content 위에 오버랩해서 위치하도록 */
        .modal-header-overlap {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            z-index: 1000;
        }
    </style>

    <style>
        .offcanvas-scroll {
            /* width: 200px; */
            height: 100%;
            overflow: auto;
            float: left;
            /* margin: 0 10px; */
        }

        h1 {
            text-align: center;
            font-size: 2em;
            font-family: sans-serif;
            margin: 20px;
        }

        .offcanvas-scroll2::-webkit-scrollbar {
            width: 5px;
        }

        .offcanvas-scroll2::-webkit-scrollbar-thumb {
            background: #666;
        }

        /* 상세 설명 커스텀 스크롤 높이 */
        .offcanvas-scroll {
            height: 100%;
        }

        .offcanvas-header {
            padding: 10px;
        }

        /* offcanvas */
        .offcanvas-body {
            padding: 10px;
        }

        .product-row {
            margin: 0;
            margin-bottom: 10px;
        }

        .product-col-left {
            padding: 0;
        }

        .offcanvas p {
            margin-bottom: 10px;
        }

        /* 갯수 증감 input 컨테이너 */
        .count-input-container {
            width: 300px;
        }

        /* 제외 버튼 <button> 기본 디자인 제거 */
        .excludeBtn {
            border: none;
            background-color: transparent;
            padding: 0;
            font-size: 15px;
        }
    </style>
    <script src="https://kit.fontawesome.com/c39d59a5ec.js" crossorigin="anonymous"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body layout:fragment="content">

    <main>
        <section class="pt-3">
            <div class="container-fluid">
                <div class="row">
                    <!-- LEFT SIDE -->
                    <div class="col-md-6">
                        <!-- 상품 이미지 -->
                        <div class="">
                            <div class="d-flex justify-content-center"
                                th:each="productImageUrl: ${orderProductDto.productImgUrlList}">
                                <a style="width: 100%;" type="button" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal"><img style="width: 100%;" src="/static/image/-6.jpg"
                                        th:src="${productImageUrl}" alt=""></a>
                            </div>
                        </div>
                    </div>
                    <!-- RIGHT SIDE STICKY -->
                    <div class="col-md-6 mt-3">
                        <div class="position-sticky" style="top: 5rem">
                            <div class="mb-3">
                                <!-- 제품 구매 시작 -->
                                <section>
                                    <div class="product_detail_content">
                                        <div class="container">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-lg-8">
                                                    <div class="product_detail_text">
                                                        <!-- 상품명 -->
                                                        <h4 th:text="${orderProductDto.name}"></h4>
                                                        <!-- 가격 -->
                                                        <!-- <p style="display: inline;" th:text="#{currency}"></p> -->
                                                        <h5 style="display: inline-block;"
                                                            th:text="${#numbers.formatCurrency(orderProductDto.price)}">
                                                        </h5>
                                                        <h6>Tax included</h6>
                                                        <hr>
                                                        <!-- 상품 상세 -->
                                                        <div>
                                                            <form id="formData" th:action="@{/order/products/add}"
                                                                th:object="${orderProductDto}" method="post">
                                                                <!-- 사이즈 -->
                                                                <div class="mb-3"
                                                                    th:if="${not #lists.isEmpty(orderProductDto.productSizeList)}">
                                                                    <div
                                                                        class="row justify-content-between align-items-center mb-1">
                                                                        <div class="col-4">
                                                                            <label for="size" class="form-label"
                                                                                style="margin-bottom: 0;">
                                                                                <p style="white-space: nowrap;">SIZE -
                                                                                    COLOR</p>
                                                                            </label>
                                                                        </div>
                                                                        <div class="col-4">
                                                                            <button
                                                                                style="width: 110px; border-radius: 0; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem; white-space: nowrap;"
                                                                                class="btn btn-outline-secondary btn-sm">SIZE
                                                                                GUIDE</button>
                                                                        </div>
                                                                    </div>
                                                                    <select th:field="*{selectedProductSizeId}"
                                                                        id="size" name="size" class="form-select"
                                                                        onchange="checkSelectedSize()">
                                                                        <option value="-1" selected>SELECT SIZE - COLOR
                                                                        </option>
                                                                        <option
                                                                            th:each="productSize : ${orderProductDto.productSizeList}"
                                                                            th:text="${productSize.size + ' - ' + productSize.productColor}"
                                                                            th:value="${productSize.id}">
                                                                        </option>
                                                                    </select>
                                                                </div>
                                                                <!-- 갯수 -->
                                                                <div class="mb-3">
                                                                    <label for="count">COUNT</label>
                                                                    <input class="mx-3" style="height: 30px;"
                                                                        th:field="${orderProductDto.count}"
                                                                        type="number" id="count" name="count" min="1"
                                                                        max="100" />
                                                                </div>
                                                                <!-- 회원 장바구니 추가 버튼 -->
                                                                <div sec:authorize="isAuthenticated()"
                                                                    class="d-grid gap-2 mb-1">
                                                                    <button
                                                                        style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                                                        id="submitBtn"
                                                                        class="btn btn-outline-secondary btn-sm" href=""
                                                                        disabled>ADD TO
                                                                        CART</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <!-- 로그인 없이 보이는 영역 -->
                                                        <div sec:authorize="isAnonymous()">
                                                            <!-- 비회원 장바구니 추가 버튼 -->
                                                            <div class="d-grid gap-2 mb-1">
                                                                <button
                                                                    style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                                                    id="nonUserSubmitBtn"
                                                                    class="btn btn-outline-secondary btn-sm" href=""
                                                                    disabled>ADD TO
                                                                    CART</button>
                                                                <!-- Offcanvas btn -->
                                                                <button class="btn btn-outline-secondary btn-sm"
                                                                    style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                                                    type="button" data-bs-toggle="offcanvas"
                                                                    data-bs-target="#offcanvasExample"
                                                                    aria-controls="offcanvasExample">
                                                                    Button with data-bs-target
                                                                </button>
                                                            </div>
                                                            <!-- 로그인 버튼 -->
                                                            <div class="d-grid gap-2">
                                                                <a style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem;"
                                                                    class="btn btn-outline-secondary btn-sm" href=""
                                                                    th:href="@{/login}">SIGN IN</a>
                                                            </div>
                                                        </div>
                                                        <!-- 장바구니 추가 완료 알림 -->
                                                        <div class="mt-3" id="liveAlertPlaceholder"></div>
                                                        <!-- 상품 설명 -->
                                                        <div class="scroll scroll2">
                                                            <div class="content"
                                                                th:text="${orderProductDto.description}"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <!-- 제품 구매 끝 -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- divider -->
        <div class="container">
            <hr class="featurette-divider">
        </div>


    </main>


    <!-- OffCanvas content -->
    <div style="width: 600px;" class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <!-- header -->
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Cart</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <!-- body -->
        <div class="offcanvas-body">
            <div style="width: 100%;" class="offcanvas-scroll offcanvas-scroll2">
                <div style="min-height: 230px;" class="row product-row">
                    <div class="product-col-left col-4 col-lg-4">
                        <img class="img-fluid" src="KakaoTalk_20240207_105747721_19.jpg" alt="">
                    </div>
                    <div class="product-col-right col-8 col-lg-8">
                        <p>The turtle shell vest</p>
                        <p>M</p>
                        <p>$448.00 USD</p>
                        <div class="count-input-container border border-3">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-3">
                                    <div class="input-group number-spinner">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="dwn"><i
                                                    class="fa-solid fa-minus"></i></button>
                                        </span>
                                        <input style="border: none;" type="text" class="form-control text-center"
                                            value="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="up"><i
                                                    class="fa-solid fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="excludeBtn"><u>REMOVE</u></button>
                    </div>
                </div>
                <div style="min-height: 230px;" class="row product-row">
                    <div class="product-col-left col-4 col-lg-4">
                        <img class="img-fluid" src="KakaoTalk_20240207_105747721_19.jpg" alt="">
                    </div>
                    <div class="product-col-right col-8 col-lg-8">
                        <p>The turtle shell vest</p>
                        <p>M</p>
                        <p>$448.00 USD</p>
                        <div class="count-input-container border border-3">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-3">
                                    <div class="input-group number-spinner">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="dwn"><i
                                                    class="fa-solid fa-minus"></i></button>
                                        </span>
                                        <input style="border: none;" type="text" class="form-control text-center"
                                            value="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="up"><i
                                                    class="fa-solid fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="excludeBtn"><u>REMOVE</u></button>
                    </div>
                </div>
                <div style="min-height: 230px;" class="row product-row">
                    <div class="product-col-left col-4 col-lg-4">
                        <img class="img-fluid" src="KakaoTalk_20240207_105747721_19.jpg" alt="">
                    </div>
                    <div class="product-col-right col-8 col-lg-8">
                        <p>The turtle shell vest</p>
                        <p>M</p>
                        <p>$448.00 USD</p>
                        <div class="count-input-container border border-3">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-3">
                                    <div class="input-group number-spinner">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="dwn"><i
                                                    class="fa-solid fa-minus"></i></button>
                                        </span>
                                        <input style="border: none;" type="text" class="form-control text-center"
                                            value="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="up"><i
                                                    class="fa-solid fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="excludeBtn"><u>REMOVE</u></button>
                    </div>
                </div>
                <div style="min-height: 230px;" class="row product-row">
                    <div class="product-col-left col-4 col-lg-4">
                        <img class="img-fluid" src="KakaoTalk_20240207_105747721_19.jpg" alt="">
                    </div>
                    <div class="product-col-right col-8 col-lg-8">
                        <p>The turtle shell vest</p>
                        <p>M</p>
                        <p>$448.00 USD</p>
                        <div class="count-input-container border border-3">
                            <div class="row">
                                <div class="col-xs-3 col-xs-offset-3">
                                    <div class="input-group number-spinner">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="dwn"><i
                                                    class="fa-solid fa-minus"></i></button>
                                        </span>
                                        <input style="border: none;" type="text" class="form-control text-center"
                                            value="1">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" data-dir="up"><i
                                                    class="fa-solid fa-plus"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="excludeBtn"><u>REMOVE</u></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- divider -->
        <div class="container">
            <hr style="margin: 10px 0;" class="">
        </div>
        <div class="container d-flex justify-content-between">
            <p>TOTAL</p>
            <p>$100 <br>Tax included</p>
        </div>
        <div class="container mb-2">
            <button
                style="border-radius: 0; font-weight: bolder; color: black; --bs-btn-padding-y: 0; --bs-btn-padding-x: .5rem; width: 100%;"
                id="" type="submit" class="btn btn-outline-secondary">CHECK OUT</button>
        </div>
    </div>
    <!-- End of offcanvas content -->

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-scrollable modal-fullscreen">
            <div class="modal-content ">
                <div class="modal-header modal-header-overlap" style="border-bottom: none; height: 1rem;">
                    <!-- <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1> -->
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mx-5" th:each="productImageUrl: ${orderProductDto.productImgUrlList}">
                        <div>
                            <img class="d-block w-100" th:src="${productImageUrl}" alt="">
                        </div>
                    </div>
                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div> -->

            </div>
        </div>
    </div>
    <!-- End of Modal -->



    <!-- 회원 장바구니 추가 ajax -->
    <script>
        let submitBtn = document.getElementById('submitBtn');
        if (submitBtn != null) {
            submitBtn.addEventListener('click', function (event) {
                event.preventDefault();
                submitForm();
            })

            function submitForm() {
                let formData = new FormData(document.getElementById('formData'))

                const xhr = new XMLHttpRequest();
                xhr.open("POST", "/order/products/add", true);

                xhr.onload = function () {
                    if (xhr.readyState == XMLHttpRequest.DONE) {
                        if (xhr.status == 200) {
                            // todo: 장바구니 추가 성공 팝업 띄우기 
                            console.log("order success");
                        } else if (xhr.status == 302) {
                            console.log('302')
                        }
                        else {
                            console.log("order failed");
                        }
                    }
                }
                xhr.send(formData);
            };
        }
    </script>

    <!-- 비회원 장바구니 추가 ajax -->
    <script>
        let nonUserSubmitBtn = document.getElementById('nonUserSubmitBtn');

        if (nonUserSubmitBtn != null) {
            nonUserSubmitBtn.addEventListener('click', function (event) {
                event.preventDefault();
                submitNonUserForm();
            })
        }

        function submitNonUserForm() {
            console.log('submitNonUserForm')
            let formData = new FormData(document.getElementById('formData'))

            const xhrNonUser = new XMLHttpRequest();
            xhrNonUser.open("POST", "/order/products/add/nonuser", true);

            xhrNonUser.onload = function () {
                if (xhrNonUser.readyState == XMLHttpRequest.DONE) {
                    if (xhrNonUser.status == 200) {
                        console.log("order success");
                        // offcanvas active
                        const bsOffcanvas = new bootstrap.Offcanvas('#offcanvasExample')
                        bsOffcanvas.show();
                    } else if (xhrNonUser.status == 302) {
                        console.log('302')
                    }
                    else {
                        console.log("order failed");
                    }
                }
            }
            xhrNonUser.send(formData);
        };


    </script>

    <!-- alert bootstrap, 장바구니 추가 성공 알림 -->
    <script>
        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
        const appendAlert = (message, type) => {
            const wrapper = document.createElement('div')
            wrapper.innerHTML = [
                `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                `   <div>${message}</div>`,
                '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>'
            ].join('')

            alertPlaceholder.append(wrapper)
        }
        // 회원
        const alertTrigger = document.getElementById('submitBtn')
        if (alertTrigger) {
            alertTrigger.addEventListener('click', () => {
                appendAlert('상품이 장바구니에 담겼습니다. <a href="/order/cart">장바구니</a>', 'success')
            })
        }
        // 비회원
        const alertTriggerNonUser = document.getElementById('nonUserSubmitBtn')
        if (alertTriggerNonUser) {
            alertTriggerNonUser.addEventListener('click', () => {
                appendAlert('상품이 장바구니에 담겼습니다. <a href="/order/cart/nonuser">장바구니</a>', 'success')
            })
        }
    </script>

    <!-- "SELECT SIZE" 선택시 submit 버튼 못 누르도록 -->
    <script>
        function checkSelectedSize() {
            var selectedSize = document.getElementById("size").value;
            // 회원 장바구니 추가 버튼 
            var submitBtn = document.getElementById("submitBtn");
            if (submitBtn != null) {
                submitBtn.disabled = (selectedSize === "-1");
            }
            // 비회원 장바구니 추가 버튼 
            var submitBtnNonUser = document.getElementById('nonUserSubmitBtn');
            if (submitBtnNonUser != null) {
                submitBtnNonUser.disabled = (selectedSize === "-1");
            }
        }
    </script>


    <script>
        // offcanvas 상품 갯수 input
        $(document).on('click', '.number-spinner button', function () {
            var btn = $(this),
                oldValue = btn.closest('.number-spinner').find('input').val().trim(),
                newVal = 0;

            if (btn.attr('data-dir') == 'up') {
                newVal = parseInt(oldValue) + 1;
            } else {
                if (oldValue > 1) {
                    newVal = parseInt(oldValue) - 1;
                } else {
                    newVal = 1;
                }
            }
            btn.closest('.number-spinner').find('input').val(newVal);
        });
    </script>
</body>

</html>