<!DOCTYPE html>
<html lang="en" xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>product page</div>
    <div>
        <p th:text="${orderProductDto.name}"></p>
        <p th:text="${orderProductDto.description}"></p>

        <form th:action="@{/order/products/add}" sec:authorize="isAuthenticated()" th:object="${orderProductDto}"
            method="post">
            <!-- 사이즈 -->
            <div class="mb-3">
                <label for="size" class="form-label">사이즈</label>
                <select th:field="*{selectedProductSizeId}" id="size" name="size" class="form-select">
                    <option th:each="productSize : ${orderProductDto.productSizeList}" th:text="${productSize.size}"
                        th:value="${productSize.id}">
                    </option>
                </select>
            </div>
            <!-- 갯수 -->
            <div class="mb-3">
                <label for="count">수량</label>
                <input th:field="${orderProductDto.count}" type="number" id="count" name="count" min="1" max="100" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

        <!-- <button sec:authorize="isAuthenticated()" onclick="addProduct()">장바구니 추가</button> -->
        <a sec:authorize="isAnonymous()" th:href="@{/login}">구매하기 위해서 로그인해주세요!</a>


    </div>



</body>

</html>