<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">
</head>

<body>
    <div style="background-color: red;" class="sticky-top">hello world!</div>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, dolorum.</div>

</body>

</html>