<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">

    <link rel="stylesheet" href="/static/css/universal.css" th:href="@{/css/universal.css}">
</head>

<body layout:fragment="content">
    <main>
        <div class="container mt-3 mb-3">
            <div class="row">
                <div class="col-lg-8">
                    <video src="/static/vid/black_hole_vid.mp4" th:src="@{/vid/black_hole_vid.mp4}" class="w-100" muted
                        controls></video>
                </div>
                <div class="col-lg-4">
                    <div class="scroll scroll2">
                        <div class="content">
                            <p class="text-end">
                                Close up the room<br>
                                and make it dark.<br>
                                Play it!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-5">
            <!--  -->
            <div class="row ">
                <div class="col-md-4 col-lg-4 col-xl-4"></div>
                <div class="col-md-7 col-lg-7 col-xl-7">
                    <p class="">
                        Since buttons made of natural horns are materials made by cutting the horns as they are made in
                        their natural state, they form an irregular pattern, which looks similar to a color spread like
                        an abstract painting.
                        The unique gloss of the natural horn changes to a natural gloss as time passes as users wear and
                        wash clothes themselves. The intaglio of a button is deeper than the normal button, forming a
                        three-dimensional effect, and showing architectural aesthetics. To make sure this intaglio
                        depth, it was made 1.5 times thicker than a normal button.
                    </p>
                    <p>
                        While considering the intaglio depth of the button and the black horn's color, reminded a 'Black
                        hole'. So, we started working on installation art that imaged black holes. The remaining stock
                        fabric, black velvet, was dyed with natural indigo to create a variety of colors. Regarding the
                        installation, the location of the dyed fabrics in the space was first planned through a swatch,
                        and a large colorful square was made by sewing the fabric with the fabric, then numerous dummies
                        were fixed as supports at the end edge. Only the center part was hung down to create a depth in
                        space.
                    </p>
                    <p>
                        As for the film, The clothes being sucked into the black hole are those of mavi karga’s 01
                        collection, "first button." Several helpers pulled and loosened their clothes together to create
                        a black hole in a zero-gravity universe.
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="mt-5">
                <div class=" d-flex justify-content-center">
                    <div class="img-container m-1" style="width: 400px;">
                        <img src="/static/image/blackhole/hole1.jpg" th:src="@{/image/blackhole/hole1.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p>natural horn button
                            </p>
                        </div>
                    </div>

                    <div class="img-container m-1" style="width: 500px;">
                        <img src="/static/image/blackhole/hole2.jpg" th:src="@{/image/blackhole/hole2.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p>the shape of the button reminded of a black hole.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-end">
                    <div class="img-container" style="width: 600px;">
                        <img src="/static/image/blackhole/hole3.jpg" th:src="@{/image/blackhole/hole3.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p>idea sketch for black hole film
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/blackhole/hole4.jpg" th:src="@{/image/blackhole/hole4.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p>fabric swatch
                            </p>
                        </div>
                    </div>

                    <div class="img-container m-1" style="width: 400px;">
                        <img src="/static/image/blackhole/hole5.jpg" th:src="@{/image/blackhole/hole5.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">remainig stock black velvet fabric,
                                dyed with natural indigo.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-center">
                    <div class="img-container m-1" style="">
                        <img src="/static/image/blackhole/hole6.jpg" th:src="@{/image/blackhole/hole6.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">creating process for realizing black hole space
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-end">
                    <div class="img-container" style="width: 500px;">
                        <img src="/static/image/blackhole/hole7.jpg" th:src="@{/image/blackhole/hole7.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">the volume and natural horn button of
                                farmer’s linen drape jodhpur pants
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-center">
                    <div class="img-container m-1" style="">
                        <img src="/static/image/blackhole/hole8.jpg" th:src="@{/image/blackhole/hole8.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">the farmer’s linen drape jodhpur pants
                            </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </main>

</body>

</html>