<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>
</head>

<body layout:fragment="content">
    <main>

        <div class="container mt-5">
            <!--  -->
            <div class="row ">
                <div class="col-md-4 col-lg-4 col-xl-4"></div>
                <div class="col-md-7 col-lg-7 col-xl-7">
                    <p>
                        This work started with the idea of introducing a new type of rug design.
                        The concept has been set to allow users to freely style according to their mood by containing
                        threads design of different colors and materials in only one rug. A book, a representative
                        object that shows multiple pages in one device, was reminded. Storytelling, which can be said to
                        be the main function of a book and the method of turning the pages, was used as the framework of
                        the design. The story of ‘birth to death’ was developed by turning the page.
                    </p>
                    <p>
                        Opening - Germination of seeds<br>
                        Highlight -Be in full bloom<br>
                        Closing = Ignite, come to zero<br>

                    </p>
                    <p>
                        The book takes the form of a manual on how to grow various plants, it describes how to grow
                        plants well and why plants easily die.
                    </p>
                    <p>
                        The way to grow well is fixed.<br>
                        The reason to die is unfixed.<br>
                    </p>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="mt-5">
                <div class=" d-flex justify-content-start">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/ignite/ignite1.jpg" th:src="@{/image/ignite/ignite1.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">thread & needle
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-end">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/ignite/ignite2.jpg" th:src="@{/image/ignite/ignite2.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">give sunlight
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-1">
                <div class=" d-flex justify-content-end">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/ignite/ignite3.jpg" th:src="@{/image/ignite/ignite3.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">watering
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-1">
                <div class=" d-flex justify-content-end">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/ignite/ignite4.jpg" th:src="@{/image/ignite/ignite4.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">step on
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-1">
                <div class=" d-flex justify-content-end">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/ignite/ignite5.jpg" th:src="@{/image/ignite/ignite5.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">weeding
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center">
                    <div class="img-container m-2" style="width: 300px;">
                        <img src="/static/image/ignite/ignite6.jpg" th:src="@{/image/ignite/ignite6.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">cover
                            </p>
                        </div>
                    </div>
                    <div class="img-container m-2" style="width: 300px;">
                        <img src="/static/image/ignite/ignite9.jpg" th:src="@{/image/ignite/ignite9.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">opening
                            </p>
                        </div>
                    </div>
                    <div class="img-container m-2" style="width: 300px;">
                        <img src="/static/image/ignite/ignite8.jpg" th:src="@{/image/ignite/ignite8.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">highlight
                            </p>
                        </div>
                    </div>
                    <div class="img-container m-2" style="width: 300px;">
                        <img src="/static/image/ignite/ignite7.jpg" th:src="@{/image/ignite/ignite7.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">closing
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center">
                    <div class="img-container m-1" style="width: 500px;">
                        <img src="/static/image/ignite/ignite10.jpg" th:src="@{/image/ignite/ignite10.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">the way to grow
                            </p>
                        </div>
                    </div>
                    <div class="img-container m-1" style="width: 500px;">
                        <img src="/static/image/ignite/ignite11.jpg" th:src="@{/image/ignite/ignite11.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">the reason to die
                            </p>
                        </div>
                    </div>
                </div>                
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center">
                    <div class="img-container m-1" style="">
                        <img src="/static/image/ignite/thumbnail.jpg" th:src="@{/image/ignite/thumbnail.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">germination, ignite rug
                            </p>
                        </div>
                    </div>
                </div>                
            </div>

        </div>
    </main>

</body>

</html>