<!DOCTYPE html>
<html data-bs-theme="auto" xmlns:th="http//www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/default-without-header}">

<head>
    <title>mavi karga</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="/static/bootstrap-5.3.2-dist/css/bootstrap.min.css"
        th:href="@{/bootstrap-5.3.2-dist/css/bootstrap.min.css}">

    <link rel="stylesheet" href="/static/css/universal.css" th:href="@{/css/universal.css}">
</head>

<body layout:fragment="content">
    <main>

        <div class="container mt-5">
            <!--  -->
            <div class="row ">
                <div class="col-md-4 col-lg-4 col-xl-4"></div>
                <div class="col-md-7 col-lg-7 col-xl-7">
                    <p>
                        The man in the hat mobile was made by reinterpreting the brand name from a figurative
                        perspective. the materials used are black wooden ball, 5mm wire, broken chopstick,
                        mother-of-pearl, vintage hat. The size of this object is 29cm (w) x 46cm (h).
                    </p>
                    <p>
                        The chin and lips of the face were made with wires, repeatedly bent, and unfolded in different
                        kinds of shapes to find what we wanted.
                    </p>
                    <p>
                        Chin and lips: ma<br>
                        Nose: a, v<br>
                        Both eyes: i<br>
                        = mavi
                    </p>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="mt-5">
                <div class=" d-flex justify-content-end">
                    <div class="img-container m-1" style="width: 600px;">
                        <img src="/static/image/manInTheMobile/man1.jpg" th:src="@{/image/manInTheMobile/man1.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">idea sketch for man in the hat mobile
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-end">
                    <div class="img-container m-2" style="width: 350px;">
                        <img src="/static/image/manInTheMobile/man2.jpg" th:src="@{/image/manInTheMobile/man2.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">various shapes made
                            </p>
                        </div>
                    </div>

                    <div class="img-container m-2" style="width: 500px;">
                        <img src="/static/image/manInTheMobile/man3.jpg" th:src="@{/image/manInTheMobile/man3.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">the chin and lips of the face were made with wires,<br>
                                repeatedly bent, and unfolded in different kinds of shapes
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-end">
                    <div class="img-container m-2" style="width: 500px;">
                        <img src="/static/image/manInTheMobile/man4.jpg" th:src="@{/image/manInTheMobile/man4.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">developing process 1
                            </p>
                        </div>
                    </div>

                    <div class="img-container m-2" style="width: 350px;">
                        <img src="/static/image/manInTheMobile/man5.jpg" th:src="@{/image/manInTheMobile/man5.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">developing process 2
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-center">
                    <div class="img-container m-1" style="">
                        <img src="/static/image/manInTheMobile/man6.jpg" th:src="@{/image/manInTheMobile/man6.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">”see saw” /<br>
                                black wooden ball used for “the man in the hat mobile”
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-end">
                    <div class="img-container m-2" style="width: 500px;">
                        <img src="/static/image/manInTheMobile/man7.jpg" th:src="@{/image/manInTheMobile/man7.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">” blueberry” /<br>
                                black wooden ball used for “the man in the hat mobile”

                            </p>
                        </div>
                    </div>

                    <div class="img-container m-2" style="width: 500px;">
                        <img src="/static/image/manInTheMobile/man8.jpg" th:src="@{/image/manInTheMobile/man8.jpg}"
                            class="img-fluid" alt="...">
                        <div class="d-flex justify-content-end align-items-center">
                            <p class="text-end">”scoop of blueberry” /<br>
                                black wooden ball used for “the man in the hat mobile”
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-5">
                <div class=" d-flex justify-content-center align-items-end">
                    <div class="img-container m-2" style="width: 500px;">
                        <img src="/static/image/manInTheMobile/man9.jpg" th:src="@{/image/manInTheMobile/man9.jpg}"
                            class="img-fluid" alt="...">
                    </div>

                    <div class="img-container m-2" style="width: 500px;">
                        <img src="/static/image/manInTheMobile/man10.jpg" th:src="@{/image/manInTheMobile/man10.jpg}"
                            class="img-fluid" alt="...">                      
                    </div>                   
                </div>
                <div class="d-flex justify-content-end align-items-center">
                    <p class="text-end">“the man in the hat mobile”
                    </p>
                </div>
            </div>
            

        </div>
    </main>

</body>

</html>